
@{
    ViewData["Title"] = "Guide";
}

<br />
<div class="text-center">
    <h1 class="display-3">How to Start !</h1>
</div>
<br />

<div class="guide">
    <div>
        <h1> Get the jwt access token via Postman .</h1>
        <img src="~/content/images/GetToken.jpg" alt="get jwt access token" class="image" />
    </div>
    <br /> <br />
    <div>
        <h1> After getting token , test your token with 'Consumner'</h1>
        <img src="~/content/images/GetDataByToken.jpg" alt="get data by jwt access token" class="image" />
    </div>
    <br />   <br />
    <div>
        <h1>Behaviour Without jwt access token.</h1>
        <img src="~/content/images/WithoutTokenAccess.jpg" alt="error occured with out jwt access token" class="image" />
    </div>

</div>
<br /><br /><br />

<div class="text-center">

    <h5>Decode access token <a href="https://jwt.io/"> < jwt.io / > </a> here</h5>
</div>


